:root { 
    font-size: 1vw;
}


body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url("./7.jpg");
    font-size: 2rem;
    
}

a { 
    text-decoration: none;
    padding: 
}



.Rejestracja, .Logowanie { 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    padding: 1vh;
    background-color: brown;
}

.Logowanie div, .Rejestracja div { 
    margin: 1vh;

}


