:root { 
    font-size: 32px;
    color:white;
}

* { 
    box-sizing: border-box;
}

html { 
    height: 100%;
}

body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgb(3, 3, 3, 0.3)), url('./5.jpg'); */
    /* background-image: url("./5.jpg"); */
    background-color: rgba(5, 5, 5, 0.834);
    background-size: cover;

}

.no_padding { 
    padding: 0;
}

.no_margin { 
    margin: 0;
}

.bg_white { 
    background-color: rgb(240, 240, 240);
}




.button { 
    border: none;
    background-color: gray;
    border-radius: 5px;
    padding: 5px;
    font-size: medium;
}

.button:hover {
    cursor: pointer;
 }


.menu { 
    width: 100%;
    box-sizing: border-box;
}

/* Box z rejestracją i logowaniem */
.Rejestracja, .Logowanie { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 40% 10% 40%;
    background: radial-gradient(circle, rgba(0,0,0,0.7455357142857143) 47%, rgba(0,0,0,0.6530987394957983) 100%);    opacity: 90%;
    border-radius: 10px;
}

.Logowanie div, .Rejestracja div { 
    margin: 1vh;

}

input { 
    background-color: gray;
    border-color: rgba(14, 13, 13, 0.233);
    border-radius: 5px;
    
}

a, input.button {
    text-decoration: none;
    /* box-sizing: border-box; */
    color: rgba(255, 255, 255, 1);
    margin-top: 0;
}

/* Ukrycie opisów normalnych i tabel */

  .opis, .opis_table {
    display: none;
    margin: 0;
    color: hsl(0, 0%, 10%);

  }
  
/* Wyświetlenie elementów nie będących elementem tabeli i ukrytych normalnych jako block */

  .opis:target {
    display: block;
    font-size: 0.8rem;
    color: white;
  }

/* Wyświetlenie elementów ukrytych normalnych jako wiersz tabeli */

  .opis_table:target { 
    display: table-row;
    font-size: 0.8rem;
    color: white;
  }

/* Przyciski schowaj opis */

  .schowaj_opis { 
    font-size: 0.7rem;
    color: hsl(216, 100%, 45%);
}

  .dont_wrap { 
      white-space: nowrap;
  }


/* Główny blok */

  .main { 
    padding: 10vh;
    background-color: gray;
    margin: 5vh;
    border-radius: 5px;
  }

  .menu { 
      margin-top: 5vh;
      width: 100%;
  }

/* Tabele z ćwiczeniami */

#tabele_cwiczenia { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

table {   
    margin: 2vw;
    /* border: 1px solid white; */
    max-width: 45vw;

    
}

th, td { 

    border: 1px solid white;
    padding: 0.3vw;

}

th { 
    background-color: hsl(0, 0%, 25%);
    max-width: 15vw;
    font-size: 1rem;
}

/* Przyciski z nazwami ćwiczeń pokazujące opis */
.pokaz_opis { 
    color: hsl(216, 100%, 45%);
}

a:hover, .button:hover, .pokaz_opis:hover {
    color: hsl(0, 100%, 70%);
}

td input { 
    border: none;
    background-color: white;
    padding: 9px;
    font-size: 0.5rem;
}

.ok_button { 
    padding: 7px;
}

.ok_button:hover {
    cursor: pointer;
}

