:root { 
    font-size: 32px;
    color: white;
}


body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url("./7.jpg");

}

a { 
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
}

.menu { 
    
    width: 100%;
    box-sizing: border-box;
}


.Rejestracja, .Logowanie { 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    background-color: hsla(0, 0%, 0%, 0.7);
}

.Logowanie div, .Rejestracja div { 
    margin: 1vh;

}


